*, *::before, *::after {
    /* box sizing is not a property that can be inherited from its parent so must be mentioned explicitly */
    box-sizing: border-box;
    /* font-family:  STYLE CHOICE*/
    /* font-weight: normal;  STYLE CHOICE */
}

body {
    padding: 0;
    margin: 0;
    /* background: */
}

.calculator-grid {
    display: grid;
    /* center calculator within grid */
    justify-content: center;
    align-items: center;
    /* fill 100% of the veiwport height */
    min-height: 100vh;
    /* 4 columns of 100px width */
    grid-template-columns: repeat(4, 100px);
    /* auto to catch overflow of digits 120px minimum and auto maximum  */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}